# ==================================================
# Secrets
# ==================================================
.env

# ==================================================
# Python
# ==================================================

__pycache__/
*.py[cod]
*.pyo
*.pyd

.pytest_cache/

.venv/
venv/

# ==================================================
# IDE
# ==================================================

.idea/

# ==================================================
# Logs
# ==================================================

logs/
*.log

# ==================================================
# Runtime Data
# ==================================================

data/cache/
data/history/
data/snapshots/
data/instruments/
data/generated/

# ==================================================
# Reports
# ==================================================

reports/

# ==================================================
# Databases
# ==================================================

*.db
*.sqlite
*.sqlite3

# ==================================================
# OS
# ==================================================

Thumbs.db
.DS_Store
